@charset "UTF-8";

/*
Name: Catalog
URL: https://github.com/InteGento/InteGentoStyles2
Version: 0.1.1
License: MIT
*/

$font-size: 14px!default;
/* ----------------------------------------------------------
  Category View
---------------------------------------------------------- */

.category-view .category-description {
    @extend %integento-layout;
}

/* ----------------------------------------------------------
  Product list
---------------------------------------------------------- */

/* Wrapper
-------------------------- */

.products-grid:after {
    content: '';
    display: table;
    clear: both;
    width: 100%;
    height: 1px;
}

/* List
-------------------------- */

.product-items.list {
    z-index: 1;
    position: relative;
    margin: 0 -15px;
}

.product-items.list .product-item {
    float: left;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    padding: 0 15px 30px;
}

@media($large_only) {
    .product-items.list .product-item {
        width: 33.3%;
    }
}

@media($desktop_excluded) and ($mobile_excluded) {
    .product-items.list .product-item {
        width: 33.3%;
    }
}

@media($mobile_only) {
    .product-items.list .product-item {
        width: 50%;
    }
}

@media($tiny_only) {
    .product-items.list .product-item {
        width: 100%;
    }
}

/* Item
-------------------------- */

.product-item {
    button.tocart {
        display: block;
        width: 100%;
        min-width: 1px;
    }
}
