@charset "UTF-8";

/*
Name: Catalog
URL: https://github.com/InteGento/InteGentoStyles2
Version: 0.1.1
License: MIT
*/

$font-size: 14px!default;

/* ----------------------------------------------------------
  Category View
---------------------------------------------------------- */

.category-view .category-description {
    @extend %integento-layout;
}

/* ----------------------------------------------------------
  Product Items
---------------------------------------------------------- */

.product-items {
    z-index: 1;
    position: relative;
    margin: 0 -15px;
    font-size: 0;
    white-space: nowrap;
}

.product-items .product-item {
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    padding: 0 15px 30px;
    font-size: $font-size;
    white-space: normal;
    vertical-align: top;
}

@media($mobile_only) {
    .product-items .product-item {
        width: 100%;
    }
}
