@charset "UTF-8";

/*
Name: Integento Styles 2
URL: https://github.com/InteGento/InteGentoStyles2
Version: 0.6.0
Dependencies : SassCSSCommon
License: MIT
*/

/* ----------------------------------------------------------
  Components
---------------------------------------------------------- */

@import "components/layouts/core";
@import "components/forms/core";
@import "components/tables/core";
@import "components/common/core";

/* ----------------------------------------------------------
  Sections
---------------------------------------------------------- */

@import "components/catalog/core";
