@charset "UTF-8";

/*
Name: Integento Styles 2
URL: https://github.com/InteGento/InteGentoStyles2
Version: 0.21.0
Dependencies : SassCSSCommon
License: MIT
*/

/* ----------------------------------------------------------
  Components
---------------------------------------------------------- */

@import "components/layouts/core";
@import "components/forms/core";
@import "components/tables/core";
@import "components/common/core";
@import "components/header/minicart";

/* ----------------------------------------------------------
  Catalog
---------------------------------------------------------- */

@import "components/catalog/core";

/* ----------------------------------------------------------
  Checkout
---------------------------------------------------------- */

@import "components/checkout/core";

/* ----------------------------------------------------------
  Customer
---------------------------------------------------------- */

@import "components/customer/core";

/* ----------------------------------------------------------
  Modules
---------------------------------------------------------- */

@import "components/common/reinsurance";
@import "components/common/modals";

/* ----------------------------------------------------------
  Navigation
---------------------------------------------------------- */

@import "components/navigation/core";
