@charset "UTF-8";

/*
Name: Customer
URL: https://github.com/InteGento/InteGentoStyles2
Version: 0.2.6
License: MIT
*/

$desktop_excluded: "max-width: 1023px" !default;
$tiny_only: "max-width: 499px" !default;

/* ----------------------------------------------------------
  Customer
---------------------------------------------------------- */

.customer-account-create,
.customer-account-logoutsuccess,
.customer-account-createpassword,
.customer-account-forgotpassword,
.customer-account-login {
    @extend %customer-public-pages !optional;
}

/* Login
-------------------------- */

.column.main .login-container {
    @extend .desktop-grid-table;
}

/* Dashboard
-------------------------- */

.block-dashboard-info,
.block-dashboard-addresses,
.block-addresses-default {
    .block-content {
        @extend .desktop-grid-table;
        margin-bottom: 20px;
    }
}

/* Addresses boxes
-------------------------- */

%address-item-content {
    font-size: inherit;
}

%address-item-actions {
    padding-top: $line-height-em;
}

/* Selectors */

.box-shipping-address,
.box-billing-address,
.box-address-shipping,
.box-address-billing {
    .box-actions {
        @extend %address-item-actions;
    }

    address {
        @extend %address-item-content;
    }
}

.items.addresses {
    address {
        @extend %address-item-content;
    }

    .item.actions {
        @extend %address-item-actions;
    }
}

/* Lists */

.items.addresses > li {
    & {
        display: inline-block;
        width: 33%;
        padding-bottom: 2em;
        vertical-align: top;
    }

    @media($desktop_excluded) {
        width: 49%;
    }

    @media($tiny_only) {
        display: block;
        width: 100%;
    }
}

/* Order pages
-------------------------- */

.sales-order-creditmemo,
.sales-order-shipment,
.sales-order-invoice,
.sales-order-view {
    @extend %sales-order-page !optional;
}

/* Wishlist
-------------------------- */

%product-grid-wishlist {
    z-index: 1;
    position: relative;
    text-align: left;
}

%product-grid-wishlist li {
    & {
        display: inline-block;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 33.3%;
        vertical-align: top;
    }

    @media($desktop_excluded) {
        width: 50%;
    }

    @media($tiny_only) {
        width: 100%;
    }
}

.products-grid.wishlist .product-items {
    @extend %product-grid-wishlist;
}
