@charset "UTF-8";

/*
Name: Customer
URL: https://github.com/InteGento/InteGentoStyles2
Version: 0.4.5
License: MIT
*/

$desktop_excluded: "max-width: 1023px" !default;
$tiny_only: "max-width: 499px" !default;
$font-size: "13px" !default;
$mobile-padding: "20px" !default;

/* ----------------------------------------------------------
  Public
---------------------------------------------------------- */

.customer-account-create,
.customer-account-logoutsuccess,
.customer-account-createpassword,
.customer-account-forgotpassword,
.customer-account-login {
    @extend %customer-public-pages !optional;
}

/* Login
-------------------------- */

.column.main .login-container {
    @extend .desktop-grid-table;
}

/* ----------------------------------------------------------
  Dashboard
---------------------------------------------------------- */

.block-dashboard-info,
.block-dashboard-addresses,
.block-dashboard-orders,
.block-addresses-list,
.block-addresses-default {
    @extend %block-dashboard-main;
}

/* Main
-------------------------- */

.block-dashboard-info,
.block-dashboard-addresses,
.block-addresses-default {
    .block-content {
        @extend .desktop-grid-table;
        margin-bottom: 20px;
    }
}

/* Addresses boxes
-------------------------- */

%address-item-content {
    font-size: inherit;
}

%address-item-actions {
    padding-top: $line-height-em;
}

/* Selectors */

.box-information,
.box-newsletter,
.box-shipping-address,
.box-billing-address,
.box-address-shipping,
.box-address-billing {
    .box-actions {
        @extend %address-item-actions;
    }

    address {
        @extend %address-item-content;
    }
}

/* ----------------------------------------------------------
  Addresses
---------------------------------------------------------- */

.items.addresses {
    address {
        @extend %address-item-content;
    }

    .item.actions {
        @extend %address-item-actions;
    }
}

/* Lists */

.items.addresses > li {
    & {
        display: inline-block;
        width: 33%;
        padding-bottom: 2em;
        vertical-align: top;
    }

    @media($desktop_excluded) {
        width: 49%;
    }

    @media($tiny_only) {
        display: block;
        width: 100%;
    }
}

/* ----------------------------------------------------------
  Orders - List
---------------------------------------------------------- */

.table-wrapper.balance-history,
.table-wrapper.additional-addresses,
.table-wrapper.returns,
.table-wrapper.orders-history,
.table-wrapper.orders-recent {
    table {
        @extend %sales-table !optional;
        @extend %responsive-table !optional;
    }
}

%sales-table {
    caption {
        display: none;
    }
}

/* Reset
-------------------------- */

.sales-order-history .actions-toolbar,
.customer-addresses-toolbar,
.order-products-toolbar {
    display: none;
}

/* ----------------------------------------------------------
  Orders - View
---------------------------------------------------------- */

/* Placeholder
-------------------------- */

.sales-order-creditmemo,
.sales-order-shipment,
.sales-order-invoice,
.sales-order-view {
    @extend %sales-order-page !optional;
}

/* Table
-------------------------- */

.invoice > .table-order-items,
.order-items > .table-order-items,
.order-items-shipment > .table-order-items {
    @extend %sales-order-table !optional;
}

/* Order links
-------------------------- */

ul.order-links {
    & {
        display: block;
        margin-bottom: $mobile-padding;
        font-size: 0;
    }

    & > * {
        display: inline-block;
        box-sizing: border-box;
        padding-right: 1em;
        font-size: $font-size;
    }

    & > *:only-child {
        display: none;
    }
}

/* Comments
-------------------------- */

.order.additional.comments {
    margin: 2em 0;
}

/* Order items
-------------------------- */

@media($mobile_excluded) {
    %sales-order-table tfoot th {
        padding-right: $mobile-padding;
        text-align: right;
    }
}

/* Order qty
-------------------------- */

.items-qty li {
    & {
        white-space: nowrap;
    }

    .title:after {
        content: ' : ';
    }
}

/* ----------------------------------------------------------
  Wishlist
---------------------------------------------------------- */

%product-grid-wishlist {
    z-index: 1;
    position: relative;
    text-align: left;
}

%product-grid-wishlist li {
    & {
        display: inline-block;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 33.3%;
        vertical-align: top;
    }

    @media($desktop_excluded) {
        width: 50%;
    }

    @media($tiny_only) {
        width: 100%;
    }
}

.products-grid.wishlist .product-items {
    @extend %product-grid-wishlist;
}
