@charset "UTF-8";

/*
Name: Common
URL: https://github.com/InteGento/InteGentoStyles2
Version: 0.9.2
License: MIT
*/

$integento_message_color_notice: #009!default;
$integento_message_color_error: #C00!default;
$integento_message_color_success: #090!default;
$integento_message_color_warning: #CC0!default;

/* ----------------------------------------------------------
  Skip content
---------------------------------------------------------- */

.action.skip {
    &.contentarea {
        display: inline-block;
        z-index: 999;
        position: fixed;
        top: -10em;
        left: 0;
        padding: 1em;
        border: 2px dashed;
        vertical-align: top;
        outline: 0;
        background-color: #fff;
    }

    &.contentarea:focus {
        top: 0;
    }
}

/* ----------------------------------------------------------
  Breadcrumbs
---------------------------------------------------------- */

.breadcrumbs .items {
    & {
        @extend %integento-layout;
        overflow: hidden;
    }

    .page-main .columns & {
        padding-right: 0;
        padding-left: 0;
    }
}

.breadcrumbs .item {
    float: left;
}

.breadcrumbs .item + .item:before {
    content: '>';
    margin: 0 0.3em;
}

/* ----------------------------------------------------------
  Image container
---------------------------------------------------------- */

.product-image-container {
    &,
    .product-image-wrapper {
        display: block;
        z-index: 1;
        position: relative;
        width: auto!important;
    }

    .product-image-wrapper {
        padding-bottom: 0!important;
    }

    .product-image-wrapper img {
        display: block;
        width: 100%;
    }
}

/* ----------------------------------------------------------
  Messages
---------------------------------------------------------- */

/* Wrapper
-------------------------- */

.page.messages .messages:not(:empty) {
    @extend %integento-layout;
    margin-bottom: 2em;
}

/* Message
-------------------------- */

.messages .message,
%integentostyles-message {
    & {
        margin: 0 0 1em;
        padding: 1em;
        border: 1px solid;
    }

    a {
        text-decoration: underline;
        color: inherit;
    }
}

.message.notice {
    color: $integento_message_color_notice;
}

.message.error {
    color: $integento_message_color_error;
}

.message.success {
    color: $integento_message_color_success;
}

.message.warning {
    color: $integento_message_color_warning;
}

/* ----------------------------------------------------------
  Switcher
---------------------------------------------------------- */

.switcher-options {
    & {
        display: inline-block;
        z-index: 3;
        position: relative;
        width: auto;
        height: 2.5em;
        padding: 0 0.25em;
        border: 1px solid rgba(0,0,0,0.2);
        overflow: visible;
        line-height: 2.5;
        vertical-align: top;
        background-color: #fff;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    .switcher-trigger {
        padding-right: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: uppercase;
        white-space: nowrap;
        word-wrap: normal;
    }

    &:after {
        content: '';
        z-index: 1;
        position: absolute;
        top: 50%;
        right: 0.5em;
        margin-top: -2px;
        border: 0 solid transparent;
        border-width: 5px 4px;
        border-top-color: currentColor;
    }
}

.switcher-options .switcher-dropdown {
    & {
        visibility: hidden;
        z-index: 2;
        position: absolute;
        top: 100%;
        left: -1px;
        min-width: 100%;
        border: 1px solid rgba(0,0,0,0.2);
        opacity: 0;
        background-color: #fff;
        -webkit-transition: opacity 0.3s ease,visibility 0.3s ease;
        transition: opacity 0.3s ease,visibility 0.3s ease;
    }

    &[aria-hidden="false"] {
        visibility: visible;
        opacity: 0.999;
    }

    li {
        line-height: 2;
        white-space: nowrap;
    }

    a {
        display: block;
        padding: 0 0.25em;
    }

    li + li {
        border-top: 1px solid rgba(0,0,0,0.2);
    }
}

/* ----------------------------------------------------------
  Pager
---------------------------------------------------------- */

.pager {
    .pages .label,
    .toolbar-amount {
        display: none;
    }

    .pages-items {
        text-align: center;
    }

    .pages-items > li {
        display: inline-block;
        vertical-align: top;
    }
}

/* ----------------------------------------------------------
  Selectors & mixins
---------------------------------------------------------- */

#maincontent,
.page-main,
.page-wrapper {
    & > .page-main.banner-title > .banner-title-wrapper {
        @extend %banner-title-wrapper !optional;
    }
}

/* ----------------------------------------------------------
  Utilities
---------------------------------------------------------- */

%integento-hidden {
    position: absolute;
    left: -9999px;
    overflow: hidden;
    clip: rect(0,0,0,0);
}

%integento-disabled {
    outline: 0;
    opacity: .5;
    box-shadow: none;
    cursor: default;
}

._disabled {
    @extend %integento-disabled;
}

._no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -ms-user-select: none;
}

.hidden {
    display: none;
    visibility: hidden;
}

input.no-display,
.no-display {
    display: none;
}

.code-sample {
    font-family: monospace,serif;
}
