@charset "UTF-8";

/*
Name: Common
URL: https://github.com/InteGento/InteGentoStyles2
Version: 0.8.0
License: MIT
*/

/* ----------------------------------------------------------
  Skip content
---------------------------------------------------------- */

.action.skip {
    &.contentarea {
        display: inline-block;
        z-index: 999;
        position: fixed;
        top: -10em;
        left: 0;
        padding: 1em;
        border: 2px dashed;
        vertical-align: top;
        outline: 0;
        background-color: #fff;
    }

    &.contentarea:focus {
        top: 0;
    }
}

/* ----------------------------------------------------------
  Breadcrumbs
---------------------------------------------------------- */

.breadcrumbs .items {
    & {
        @extend %integento-layout;
        overflow: hidden;
    }

    .page-main .columns & {
        padding-right: 0;
        padding-left: 0;
    }
}

.breadcrumbs .item {
    float: left;
}

.breadcrumbs .item + .item:before {
    content: '>';
    margin: 0 0.3em;
}

/* ----------------------------------------------------------
  Image container
---------------------------------------------------------- */

.product-image-container {
    &,
    .product-image-wrapper {
        display: block;
        z-index: 1;
        position: relative;
        width: auto!important;
    }

    .product-image-wrapper {
        padding-bottom: 0!important;
    }

    .product-image-wrapper img {
        display: block;
        width: 100%;
    }
}

/* ----------------------------------------------------------
  Messages
---------------------------------------------------------- */

/* Wrapper
-------------------------- */

.page.messages .messages:not(:empty) {
    @extend %integento-layout;
    margin-bottom: 2em;
}

/* Message
-------------------------- */

%integentostyles-message {
    & {
        margin: 0 0 1em;
        padding: 1em;
        border: 1px solid;
    }

    a {
        text-decoration: underline;
        color: inherit;
    }
}

.message.error {
    @extend %integentostyles-message;
    color: #C00;
}

.message.success {
    @extend %integentostyles-message;
    color: #090;
}

.message.warning {
    @extend %integentostyles-message;
    color: #CC0;
}

/* ----------------------------------------------------------
  Switcher
---------------------------------------------------------- */

.switcher-options {
    & {
        display: inline-block;
        z-index: 3;
        position: relative;
        width: auto;
        height: 2.5em;
        padding: 0 0.25em;
        padding-right: 20px;
        border: 1px solid rgba(0,0,0,0.2);
        overflow: visible;
        line-height: 2.5;
        vertical-align: top;
        background-color: #fff;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    &:after {
        content: '';
        z-index: 1;
        position: absolute;
        top: 50%;
        right: 0.5em;
        margin-top: -2px;
        border: 0 solid transparent;
        border-width: 5px 4px;
        border-top-color: #000;
    }

    .switcher-dropdown {
        visibility: hidden;
        z-index: 2;
        position: absolute;
        top: 100%;
        left: -1px;
        min-width: 100%;
        border: 1px solid rgba(0,0,0,0.2);
        opacity: 0;
        background-color: #fff;
        -webkit-transition: opacity 0.3s ease,visibility 0.3s ease;
        transition: opacity 0.3s ease,visibility 0.3s ease;
    }

    .switcher-dropdown[aria-hidden="false"] {
        visibility: visible;
        opacity: 0.999;
    }

    .switcher-dropdown li {
        line-height: 2;
        white-space: nowrap;
    }

    .switcher-dropdown a {
        display: block;
        padding: 0 0.25em;
    }

    .switcher-dropdown li + li {
        border-top: 1px solid rgba(0,0,0,0.2);
    }
}

/* ----------------------------------------------------------
  Pager
---------------------------------------------------------- */

.toolbar-products {
    .pages .label {
        display: none;
    }

    .pages-items {
        text-align: right;
    }

    .pages-items > li {
        display: inline-block;
        vertical-align: top;
    }
}
