@charset "UTF-8";

/* ----------------------------------------------------------
  Reset
---------------------------------------------------------- */

%reset-pagebuilder {
    div[data-element][style] {
        display: block!important;
        margin: 0!important;
        padding: 0!important;
        border: 0!important;
    }
}

/* ----------------------------------------------------------
  Visibility
---------------------------------------------------------- */

@media($mobile_excluded) {
    .pagebuilder-mobile-only {
        display: none;
    }
}

@media($mobile_only) {
    .pagebuilder-mobile-hidden {
        display: none;
    }
}
