@charset "UTF-8";

/*
Name: Checkout
URL: https://github.com/InteGento/InteGentoStyles2
Version: 0.5.4
License: MIT
*/

$desktop-padding: 30px!default;
$mobile-padding: 15px!default;
/* ----------------------------------------------------------
  Layout
---------------------------------------------------------- */

.checkout-container {
    z-index: 1;
    position: relative;
}

@media($mobile_only) {
    .cart-container {
        display: flex;
        flex-direction: column-reverse;
    }
}

/* ----------------------------------------------------------
  Reset
---------------------------------------------------------- */

.opc-summary-wrapper .modal-header .action-close {
    display: none;
}

/* ----------------------------------------------------------
  Sidebar
---------------------------------------------------------- */

.opc-block-summary .minicart-items {
    display: block!important;
}

/* ----------------------------------------------------------
  Loader
---------------------------------------------------------- */

.loading-mask {
    & {
        @extend %absolute-cover!optional;
        z-index: 10;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: $desktop-padding;
        text-align: center;
        background-color: rgba(#FFF,0.2);
    }

    .loader {
        @extend %absolute-center!optional;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: $mobile-padding;
        background-color: #fff;
    }

    .loader img {
        position: static!important;
        width: 2em;
        max-width: 100%;
    }
}

/* ----------------------------------------------------------
  Options
---------------------------------------------------------- */

dl.item-options {
    & {
        overflow: hidden;
        text-align: left;
    }

    &,
    & dd,
    & dl {
        font: inherit;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
        word-wrap: break-word;
    }

    & dt {
        float: left;
    }

    & dd:after {
        content: '';
        display: block;
        clear: both;
        height: 1px;
        line-height: 0;
    }

    & dt:after {
        content: ':';
        margin: 0 0.3em;
    }
}

/* ----------------------------------------------------------
  Addresses
---------------------------------------------------------- */

.shipping-address-items {
    & {
        @extend .desktop-grid-table!optional;
    }

    .shipping-address-item .action {
        margin-top: 1em;
    }

    .shipping-address-item.selected-item .action {
        display: none;
    }
}

/* ----------------------------------------------------------
  Payment Methods
---------------------------------------------------------- */

.payment-method:not(._active) {
    legend.legend,
    .fieldset,
    & > .payment-method-content {
        display: none;
    }
}

.payment-method-title label > * {
    display: inline-block;
    vertical-align: middle;
}

/* ----------------------------------------------------------
  Tables
---------------------------------------------------------- */

.table.totals,
.table-totals {
    .table-caption {
        display: none;
    }

    th:first-child,
    td:first-child {
        text-align: left;
    }

    th:last-child,
    td:last-child {
        text-align: right;
    }
}

/* ----------------------------------------------------------
  Empty cart
---------------------------------------------------------- */

.cart-empty {
    & {
        padding-bottom: $mobile-padding;
        text-align: center;
    }

    a {
        border-bottom: 1px solid currentColor;
    }
}
