@charset "UTF-8";

/*
Name: Navigation
URL: https://github.com/InteGento/InteGentoStyles2
Version: 0.2.0
License: MIT
*/

$has_desktop_menu: $desktop_only!default;
$has_mobile_menu: $desktop_excluded!default;
/* ----------------------------------------------------------
  Navigation
---------------------------------------------------------- */

.navigation[data-action="navigation"] {
    & {
        z-index: 2;
        position: relative;
    }

    li.level0 {
        vertical-align: top;
    }

    li.level0 > a {
        display: block;
    }

    li.level0 > .block-submenu {
        background: #FFF;
        -webkit-transition: opacity 0.3s ease,visibility 0.3s ease;
        transition: opacity 0.3s ease,visibility 0.3s ease;
    }

    li.level0:hover > .block-submenu {
        visibility: visible;
        opacity: 0.999;
    }

    li.level1 {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        vertical-align: top;
    }
}

/* Line navigation
-------------------------- */

@media($has_desktop_menu) {
    .navigation[data-action="navigation"] {
        text-align: center;
    }

    .navigation[data-action="navigation"] li.level0 {
        display: inline-block;
    }

    .navigation[data-action="navigation"] li.level0 > a {
        padding: 0 1em;
    }
}

/* Submenu
-------------------------- */

.navigation[data-action="navigation"] li.level1 {
    text-align: left;
}

@media($has_desktop_menu) {
    .navigation[data-action="navigation"] li.level1 {
        display: inline-block;
        padding-right: 1em;
    }

    .navigation[data-action="navigation"] li.level0 > .block-submenu {
        visibility: hidden;
        z-index: 1;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        margin: auto;
        text-align: center;
        opacity: 0;
    }
}

/* Mobile
-------------------------- */

@media($has_mobile_menu) {
    .navigation[data-action="navigation"] {
        visibility: hidden;
        z-index: 9;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        overflow: auto;
        text-align: left;
        opacity: 0;
        background-color: #fff;
        -webkit-transition: opacity 0.3s ease,visibility 0.3s ease;
        transition: opacity 0.3s ease,visibility 0.3s ease;
    }

    .has--opened-main-menu .navigation[data-action="navigation"] {
        visibility: visible;
        opacity: 0.999;
    }

    .navigation[data-action="navigation"] li.level0 {
        padding: $mobile-padding/2 $mobile-padding;
    }
}
