@charset "UTF-8";

/* ----------------------------------------------------------
  Reset
---------------------------------------------------------- */

.nav-sections-items {
    .section-item-title {
        display: none;
    }
}

/* ----------------------------------------------------------
  Navigation
---------------------------------------------------------- */

.navigation[data-action="navigation"] {
    li.level1.parent > a {
        font-weight: bold;
    }
}

/* ----------------------------------------------------------
  Submenu
---------------------------------------------------------- */

@media($has_desktop_menu) {
    .navigation[data-action="navigation"] .level1 ul {
        display: block!important;
        top: 0%!important;
        right: 0!important;
        left: 0!important;
    }

    .navigation[data-action="navigation"] .level0 > .submenu {
        position: absolute!important;
        top: 100%!important;
        right: 0!important;
        left: 0!important;
        margin: auto!important;
        padding: 10px;
        background-color: #fff;
    }
}

/* ----------------------------------------------------------
  Switch
---------------------------------------------------------- */

/* Bars */

%csscommon-navtoggle-bar {
    width: 20px;
    height: 2px;
    font-size: 3.5px;
    color: transparent;
    background-color: #000;
    cursor: pointer;
}

/* Active */

.nav-open .nav-toggle {
    @extend %csscommon-navtoggle-bar-active!optional;
}
