@charset "UTF-8";

/*
Name: Layout
URL: https://github.com/InteGento/InteGentoStyles2
Version: 0.3.0
License: MIT
*/

/* ----------------------------------------------------------
  Main
---------------------------------------------------------- */

%integento-layout {
    & {
        @extend %responsive-padding-lr;
        margin: 0 auto;
        max-width: $content_width_wide;
    }

    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

.page-main .columns {
    @extend %integento-layout;
}

/* ----------------------------------------------------------
  Grid
---------------------------------------------------------- */

.page-layout-2columns-left,
.page-layout-2columns-right {
    .column.main {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 70%;
    }

    .sidebar {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 30%;
    }
}

.page-layout-2columns-left {
    .column.main {
        float: right;
        padding-left: 20px;
    }

    .sidebar {
        float: left;
        padding-right: 20px;
    }
}

.page-layout-2columns-right {
    .column.main {
        float: left;
        padding-right: 20px;
    }

    .sidebar {
        float: left;
        clear: right;
        padding-left: 20px;
    }
}

@media($desktop_excluded) {
    .page-layout-2columns-right .column.main,
    .page-layout-2columns-left .column.main {
        float: none;
        width: auto;
        padding-right: 0;
        padding-left: 0;
    }

    .page-layout-2columns-right .sidebar,
    .page-layout-2columns-left .sidebar {
        width: 50%;
        padding-top: 20px;
    }

    .page-layout-2columns-left .sidebar + .sidebar {
        clear: none;
        padding-right: 0;
    }
}

@media($mobile_only) {
    .page-layout-2columns-right .sidebar,
    .page-layout-2columns-left .sidebar {
        float: none;
        width: auto;
        padding-right: 0;
        padding-left: 0;
    }
}

/* ----------------------------------------------------------
  Checkout
---------------------------------------------------------- */

/* Cart
-------------------------- */

@media($desktop_only) {
    .form-cart,
    .cart-summary {
        float: right;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 33.3%;
    }

    .form-cart {
        width: 66.7%;
    }

    .cart-container:after {
        content: '';
        display: table;
        clear: both;
    }
}

/* OPC
-------------------------- */

@media($desktop_only) {
    .opc-sidebar,
    .opc-wrapper {
        float: left;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 33.3%;
    }

    .opc-wrapper {
        width: 66.7%;
    }
}

/* ----------------------------------------------------------
  Customer
---------------------------------------------------------- */

/* Login
-------------------------- */

.login-container {
    @extend .desktop-grid-table;
}

/* Dashboard
-------------------------- */

.block[class*="block-dashboard"] .block-content {
    @extend .desktop-grid-table;
}
