@charset "UTF-8";

/*
Name: Layout
URL: https://github.com/InteGento/InteGentoStyles2
Version: 0.4.0
License: MIT
*/

$desktop-padding: 45px !default;
$desktop-padding-neg: -45px !default;
$tablet-padding: 30px !default;
$tablet-padding-neg: -30px !default;
$mobile-padding: 15px !default;
$mobile-padding-neg: -15px !default;

/* ----------------------------------------------------------
  Main
---------------------------------------------------------- */

%integento-layout {
    & {
        @extend %responsive-padding-lr;
        margin: 0 auto;
        max-width: $content_width_wide;
    }

    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

.page-main .columns {
    @extend %integento-layout;
}

/* ----------------------------------------------------------
  Grid
---------------------------------------------------------- */

.page-layout-2columns-left,
.page-layout-2columns-right {
    .column.main {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 70%;
    }

    .sidebar {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 30%;
    }
}

.page-layout-2columns-left {
    .column.main {
        float: right;
        padding-left: $desktop-padding/2;
    }

    .sidebar {
        float: left;
        padding-right: $desktop-padding/2;
    }
}

.page-layout-2columns-right {
    .column.main {
        float: left;
        padding-right: $desktop-padding/2;
    }

    .sidebar {
        float: left;
        clear: right;
        padding-left: $desktop-padding/2;
    }
}

@media($desktop_excluded) {
    .page-layout-2columns-right .column.main,
    .page-layout-2columns-left .column.main {
        float: none;
        width: auto;
        padding-right: 0;
        padding-left: 0;
    }

    .page-layout-2columns-right .sidebar,
    .page-layout-2columns-left .sidebar {
        width: 50%;
        padding-top: 20px;
    }

    .page-layout-2columns-left .sidebar {
        padding-right: $tablet-padding/2;
    }

    .page-layout-2columns-left .sidebar + .sidebar {
        clear: none;
        padding-right: 0;
        padding-left: $tablet-padding/2;
    }
}

@media($mobile_only) {
    .page-layout-2columns-right .sidebar.sidebar,
    .page-layout-2columns-left .sidebar.sidebar {
        float: none;
        width: auto;
        padding-right: 0;
        padding-left: 0;
    }
}

/* ----------------------------------------------------------
  Checkout
---------------------------------------------------------- */

%integento2-checkout-layout-wrapper {
    &:after {
        content: '';
        display: table;
        clear: both;
        width: 100%;
    }
}

%integento2-checkout-layout-content,
%integento2-checkout-layout-sidebar {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media($mobile_excluded) {
    %integento2-checkout-layout-content {
        width: 60%;
        padding-right: $tablet-padding/2;
    }

    %integento2-checkout-layout-sidebar {
        width: 40%;
        padding-left: $tablet-padding/2;
    }
}

@media($desktop_only) {
    %integento2-checkout-layout-content {
        width: 66.7%;
        padding-right: $desktop-padding/2;
    }

    %integento2-checkout-layout-sidebar {
        width: 33.3%;
        padding-left: $desktop-padding/2;
    }
}

/* Cart
-------------------------- */

.cart-container {
    @extend %integento2-checkout-layout-wrapper;
}

.cart-summary {
    @extend %integento2-checkout-layout-sidebar;
}

.form-cart {
    @extend %integento2-checkout-layout-content;
}

@media($mobile_excluded) {
    .cart-summary,
    .form-cart {
        float: right;
    }
}

/* OPC
-------------------------- */

.checkout-container {
    @extend %integento2-checkout-layout-wrapper;
}

.opc-sidebar {
    @extend %integento2-checkout-layout-sidebar;
}

.opc-wrapper {
    @extend %integento2-checkout-layout-content;
}

@media($mobile_excluded) {
    .opc-sidebar,
    .opc-wrapper {
        float: left;
    }
}
