@charset "UTF-8";

/*
Name: Forms
URL: https://github.com/InteGento/InteGentoStyles2
Version: 0.1.0
License: MIT
*/

/* ----------------------------------------------------------
  Tooltip
---------------------------------------------------------- */

._with-tooltip {
    z-index: 1;
    position: relative;
}

._with-tooltip {
    padding-right: 30px;
}

._with-tooltip .field-tooltip {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
}

/* ----------------------------------------------------------
  Labels
---------------------------------------------------------- */

.field label {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

/* ----------------------------------------------------------
  Fieldset
---------------------------------------------------------- */

.fieldset + .fieldset {
    margin-top: 2em;
}

/* ----------------------------------------------------------
  Buttons
---------------------------------------------------------- */

/* Toolbar
-------------------------- */

.actions-toolbar {
    & {
        margin: 2em 0;
    }

    & > * {
        display: inline-block;
        vertical-align: top;
    }

    & > * + * {
        margin-left: 1em;
    }
}

/* Buttons
-------------------------- */

.cart.actions .action,
.actions-toolbar .action {
    @extend .cssc-button;
}
