@charset "UTF-8";

/*
Name: Forms
URL: https://github.com/InteGento/InteGentoStyles2
Version: 0.6.4
License: MIT
*/

$fieldset-margin: 2em!default;
$tooltip_color_bg: $color-bg!default;
$tooltip_color_border: $color-border!default;
/* ----------------------------------------------------------
  Tooltip
---------------------------------------------------------- */

._with-tooltip {
    & {
        z-index: 1;
        position: relative;
        padding-right: 30px;
    }

    .field-tooltip {
        z-index: 1;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 5px;
    }

    .field-tooltip:hover {
        z-index: 99;
    }
}

.field-tooltip-action {
    & {
        display: inline-block;
        z-index: 2;
        position: relative;
        width: 2em;
        height: 2em;
        font-size: 11px;
        cursor: pointer;
    }

    &:before {
        content: "?";
        display: inline-block;
        width: 2em;
        height: 2em;
        border-radius: 1em;
        overflow: hidden;
        text-align: center;
        font-size: 1.6em;
        font-weight: 500;
        line-height: 2em;
        color: #fff;
        background-color: #514943;
    }

    span {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
        overflow: hidden;
        clip: rect(0,0,0,0);
    }

    span.focusable:active,
    span.focusable:focus {
        position: static;
        width: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        clip: auto;
    }

    span.focusable:active,
    span.focusable:focus {
        position: static;
        width: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        clip: auto;
    }
}

.control-text:focus + .field-tooltip-content,
.field-tooltip._active .field-tooltip-content,
.field-tooltip:hover .field-tooltip-content {
    display: block;
}

.field-tooltip-content {
    & {
        display: none;
        z-index: 1;
        position: absolute;
        right: -1.8em;
        bottom: 4.5em;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 320px;
        padding: 1em;
        max-width: 80vw;
        border: 1px solid $tooltip_color_border;
        background: $tooltip_color_bg;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
    }

    &:after,
    &:before {
        content: "";
        display: block;
        z-index: 3;
        position: absolute;
        top: 100%;
        right: 1em;
        width: 0;
        height: 0;
        border: 16px solid transparent;
        border-top-color: $tooltip_color_border;
    }

    &:after {
        z-index: 4;
        margin-top: -1px;
        border-top-color: $tooltip_color_bg;
    }
}

/* ----------------------------------------------------------
  Radio
---------------------------------------------------------- */

.field input[type="radio"] + label {
    display: inline-block;
    margin-right: 1em;
    vertical-align: top;
}

/* ----------------------------------------------------------
  Labels
---------------------------------------------------------- */

.field {
    label {
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    &.required.admin__control-fields > .label span:after,
    &._required > .label span:after,
    &.required > label:after {
        content: '*';
        margin-left: 0.3em;
        font-weight: bold;
    }
}

/* ----------------------------------------------------------
  Field indications
---------------------------------------------------------- */

.control,
.field {
    div.mage-error,
    div.field-error {
        @extend %integento-field-error !optional;
    }
}

[id="password-strength-meter-container"],
%integento-field-error {
    padding: 0.5em 0;
    font-size: 0.9em;
}

/* Errors
-------------------------- */

%integento-field-error {
    font-style: italic;
    color: #C00;
}

%integento-field-error-content,
input.mage-error,
.field._error input[aria-invalid="true"] {
    border-color: #C00;
    color: #C00;
}

/* Password strength
-------------------------- */

[id="password-strength-meter-label"] {
    .password-weak &,
    .password-strength-meter-1 & {
        color: #C00;
    }

    .password-medium &,
    .password-strength-meter-2 & {
        color: #ffa500;
    }

    .password-strong &,
    .password-very-strong &,
    .password-strength-meter-4 &,
    .password-strength-meter-3 & {
        color: #0C0;
    }
}

/* ----------------------------------------------------------
  Fieldset
---------------------------------------------------------- */

.fieldset + .fieldset {
    margin-top: $fieldset-margin;
}

/* ----------------------------------------------------------
  Buttons
---------------------------------------------------------- */

/* Toolbar
-------------------------- */

.actions-toolbar {
    & {
        margin: $fieldset-margin 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    & > * {
        display: inline-block;
        vertical-align: top;
    }

    & > * + * {
        margin-left: 1em;
    }
}

@media(max-width:500px) {
    .actions-toolbar > * {
        display: block;
        margin: $fieldset-margin/2 0;
    }

    .actions-toolbar > * + * {
        margin-left: 0;
    }

    .actions-toolbar a[class*="action"],
    .actions-toolbar button {
        display: block;
        width: 100%;
    }
}

/* Buttons
-------------------------- */

.cart.actions .action,
.actions-toolbar .action {
    @extend %cssc-button;
}

/* ----------------------------------------------------------
  Nested fields
---------------------------------------------------------- */

.nested-fields {
    & {
        margin-bottom: $fieldset-margin;
    }

    &:after {
        @extend .clearfix;
    }

    .field:last-child {
        margin-bottom: 0;
    }
}

@media($mobile_excluded) {
    .nested-fields .field {
        float: left;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 50%;
        margin-bottom: 0;
        padding-right: $fieldset-margin/2;
        padding-left: $fieldset-margin/2;
    }

    .nested-fields .field:first-child {
        padding-left: 0;
    }

    .nested-fields .field:last-child {
        margin-top: 0;
        padding-right: 0;
    }
}
